.artist__actions {
  display: flex;
  margin-top: 48px;
  align-items: center;
}

.artist__actions > div { margin-right: 26px; }
.artist__actions > div:first-child { margin-right: 32px; }

.artist__actions__play {
  width: 64px;
  height: 64px;
  display: flex;
  transition: 0.2s;
  border-radius: 64px;
  background-color: #1db954;
}
.artist__actions__play:hover {
  transform: scale(1.06);
}

.artist__actions__play > svg {
  margin: auto;
  display: block;
  padding-left: 4px;
}

.artist__actions__like__like, .artist__actions__like__unlike {
  outline: 0;
  color: white;
  font-size: 13px;
  font-weight: 800;
  transition: 0.2s;
  padding: 6px 14px;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: transparent;
}
.artist__actions__like__like:hover {
  color: #1db954;
  border: 1px solid #1db954;
}
.artist__actions__like__unlike:hover {
  color: #ff3333;
  border: 1px solid #ff3333;
}

.artist__actions__more > svg { opacity: 0.7; transition: 0.2s; }
.artist__actions__more > svg:hover { opacity: 1; }